@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Russo One'    
}


nav {
    
    background-color: #be3144; 
    width: 100%;
    
    font-size: 2rem;       
    padding: 1rem;
    position: absolute;
    top: 0;
}

nav div {
    float: right;
}

nav a {
    text-decoration: none;
    color: #f0f0f0; 
    margin: auto 1em;   
}

.header-container {
    
    background: lightblue;
    padding: 10em 10em;
    font-size: 1.7em;
    
}

main {
    
}

.projects-container {
    background: lightgreen;
    padding: 5em;
    
}

h2 {
    
    text-align: center;
    font-size: 1.9em;
    text-decoration-line: underline;
}

.projects {
    margin: 50px 0;
    
}

.project {
    display: inline-block;
    width: 33.08%;
    background: #252c06;
    overflow: hidden;
    
}

.project img {
   width: 100%;
   
    
}

h3 {
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 1em 0;
}

.tiles-container {
    
    margin: 20px 0;
    
}





